<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite" verbose="2">
	<test name="Regression Tests">
		<classes>
			<class name="com.mwp.abbmi.runners.MainRunner"></class>
		<class name="com.mwp.abbmi.stepDefinitions.TestMIAIntegrationEndpoint"></class>
			<class name="com.mwp.abbmi.stepDefinitions.TestDeltaEndpoint"></class> 
		</classes>
	</test>
</suite>
